/* Header title font */
.site-header .site-title {
    font-family: "Roboto Slab", serif;
}

/* Header title icon */
.site-title .site-icon {
    background-image: url("icon.png");
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -10px;
    margin-right: 0.25em;
}

/* Home page library rows */
.library-row {
    display: flex;
    align-items: baseline;
    gap: 1em;
    /*Align title to center, with h2s having margin-bottom: 15px*/
    margin-top: 15px;
    border-bottom: 1px solid lightgray;
}

.library-row:last-of-type {
    margin-bottom: 15px;
}

/* Highlight special code comments */
div.highlighter-rouge .highlight span.c1.output,
div.highlighter-rouge .highlight span.c1.shell-command {
    display: block;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
}

div.highlighter-rouge .highlight span.c1.output {
    background-color: #def;
}

div.highlighter-rouge .highlight span.c1.shell-command {
    background-color: #dfd;
}

/* Code highlight background color */
.highlighter-rouge .highlight,
.highlighter-rouge .highlight code {
    background-color: #eee;
}

/* Set site content width */
.wrapper {
    max-width: -webkit-calc(878px - (30px * 2));
    max-width: calc(878px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(878px - (30px));
        max-width: calc(878px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}
