.site-header .site-title {
    font-family: "Roboto Slab", serif;
}

div.highlighter-rouge .highlight span.c1.output,
div.highlighter-rouge .highlight span.c1.shell-command {
    display: block;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
}

div.highlighter-rouge .highlight span.c1.output {
    background-color: #def;
}

div.highlighter-rouge .highlight span.c1.shell-command {
    background-color: #dfd;
}

.highlighter-rouge .highlight,
.highlighter-rouge .highlight code {
    background-color: #eee;
}

/*Set site content width*/
.wrapper {
    max-width: -webkit-calc(878px - (30px * 2));
    max-width: calc(878px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(878px - (30px));
        max-width: calc(878px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}
